.bg-body-tertiary img{
    width: 50px;
}

.car{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}


.bg{
    background-image:url("https://www.wallpapergap.com/cdn/24/399/world-cup-2022-wallpapers-1920x1080.jpg");
    height: 400px;
    filter: grayscale(60%);
    
}
.carousel-item img{
    width: 100%;
    height: 700px;
}
.card-img-top{
    height: 300px!important;
}
.carousel-inner{
    margin-top: 30px !important;
}
